version: "3.9"

services:
  httpbin:
    image: kennethreitz/httpbin
    container_name: httpbin
    ports:
      - "8081:80"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  pytest-runner:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: pytest-runner
    depends_on:
      - httpbin
      - rabbitmq
    environment:
      BASE_URL: http://httpbin
    volumes:
      - ./reports:/app/reports
      - ./allure-results:/app/allure-results
